

.banner-dashboard {
  background-size: cover;
  height: 200px;
  overflow: hidden;
  top: 0;
}

.dashboard-frame-margin {
  margin: 170px 0 0 0 !important;
}

.dashboard-frame{
  background-color: white;
  position: relative;
  height: 600px;
  display: flex;
  position: relative;

}

.col-md-4 {
   -webkit-box-flex: 0;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}


.col-md-8 {
  -webkit-box-flex: 0;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}


.user-card {
height: 460px;
position: fixed;
background: white;
padding: 70px;
top: 160px;
margin: 20px;
border-radius: 4px;
box-shadow: 0 10px 30px rgba(0,0,0,.1);

}


// box-shadow: 0 10px 30px rgba(0,0,0,.1);
// height: 460px;
// position: fixed;
// background: white;
// padding: 70px;
// top: 160px;
// max-width: 26%;
// border-radius: 4px;


.tease{
top: -70px;
position: relative;

h1 {
  font-size: 30px;
  color: #191923;
}
}



// .tease-info{
//   position: absolute;
// }

.card-topthree {

height: 400px;
background: white;                         /* White background */
padding: 30px;                             /* Internal space */
border-radius: 4px;                        /* Small radius */
box-shadow: 0 10px 30px rgba(0,0,0,.1);

}

.card-piechart{
justify-content: center;
height: 400px;
background: white;                         /* White background */
padding: 30px;                             /* Internal space */
border-radius: 4px;                        /* Small radius */
box-shadow: 0 10px 30px rgba(0,0,0,.1);
justify-items: center;
}

.fa-youtube{
color:#D72638;
 font-size: 40px;
margin-right: 10px;
}

  // .container-structure h1{
  //   margin-top: 10px;
  //   font-size: 30px;
  //   text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  //   padding:15px;
  // }

.dates h1 {
color: #191923;
font-size: 20px;
display: inline;
}


  // .topthree{
  //   margin-top: 40px;
  //   background:white;
  //   box-shadow: 0 0 15px rgba(0,0,0,0.2);
  //   border-radius: 10px;

  // }

// .flash {
//   padding: 16px 24px;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;

//   box-shadow: 0 0 8px rgba(0,0,0,0.2);
//   border-radius: 4px;
//   margin: 8px;
// }

// .flash-success {
//   border: 2px solid #5680E9;
// }

// .fa-youtube{
//   color: red;
//   font-size: 40px;
//   margin-right: 10px;
// }


// .try-out{

// background: #005C97;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// }

// .alert {
//   position: fixed;

// }


// .bar-item h4 {
//   font-size: 10px;

// }

// .bar-item img {
//   margin: 10px;
// }

