.container-structure {
  width: 800px;
  margin: 0 auto;

}

.container-structure h1{
  margin-top: 10px;
  font-size: 30px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  padding:15px;
}

.dates h1{
color: grey;
font-size: 20px;
display: inline;
text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}


.topthree{
  margin-top: 40px;
  background:white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;

}

.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
}

.flash-success {
  border: 2px solid #5680E9;
}

.fa-youtube{
  color: red;
  font-size: 45px;
  margin-right: 10px;
}


.try-out{

background: #005C97;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.alert {
  position: fixed;

}


.bar-item h4 {
  font-size: 10px;

}

.bar-item img {
  margin: 10px;
}

