
.data-page-header {
  margin-top: 90px;
  margin-left: 20px;
}


.name h1 {
color: #BDBDBD;
font-size: 14px;
display: inline;
}


.banner-particles {
  background-size: cover;
  height: 200px;
  overflow: hidden;
  top: 0;
}

.wrapper {
  padding: 0 120px;
}

.dashboard-frame-margin {
  margin: 170px 0 0 0 !important;
}

.dashboard-frame{
  background-color: #F3F1F1;
  position: relative;
  height: 100%;
}

.user-card {
height: 460px;
    position: fixed;
    background: white;
    padding: 70px;
    top: 160px;
    /* margin: 20px 0; */
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    display: -webkit-box;
    /* display: flex; */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    /* flex-direction: column; */
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-around;
}

.fas.fa-chart-pie {
color: #E89E2C;
font-size: 50px;
margin-right: 40px;
// display: block to make it underneath each other
}

.fas.fa-plus-circle {
color: #E89E2C;
font-size: 50px;
margin-right: 40px;
}

.title-weekly{
margin: 0;
margin-bottom: 20px;
color: white;
font-size: 27px;
font-weight: lighter;
text-transform: uppercase;
}
.text-center{
  text-align: center;
}

.title-weekly span {
  background-color: #E89E2C;
  padding: 5px 10px;
}
.tease h1 {
top: -70px;
position: relative;
font-size: 40px;
color: white;
}

.card-topthree {
height: 400px;
    background: white;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1)

h2 {
  color: #E89E2C;
}
}

.card-piechart{
padding: 38px 0;
justify-content: center;
height: 400px;
background: white;                         /* White background */
padding: 30px;                             /* Internal space */
border-radius: 4px;                        /* Small radius */
box-shadow: 0 5px 5px rgba(0,0,0,.1);
justify-items: center;
font-size: 30px;
text-align: center;
color: #0C183A;
margin-bottom: 30px;
}

.dates h1 {
color: #E89E2C;
font-size: 18px;
display: inline;
}

.pages-icons { margin-top: 40px; }

.fas.fa-chart-pie {
      color: #E89E2C;
    font-size: 50px;
    margin-right: 30px
}

.fas.fa-plus-circle { color: #E89E2C;
    font-size: 50px;
    margin-right: 0px;}

