body{
  overflow-x: hidden;
}
.container-structure {
  margin: 20px;
 display:flex;
}

.container-time {
  color: #374785;
  text-align: center;
}

.container-date-filter{
  display: inline;
}


.cards-chart {
margin: 30px;
width: 100%;
//border: 1px solid red;
justify-content: center;
box-shadow: 0 0 15px rgba(0,0,0,0.2);
border-radius: 5px;
background: white;
}

.card-chart h1 {
margin:10%;
margin-left: 10%;
}

.date-filter{
  display: inline;
}

.btn-date {
  color: #24305E;
  border: 1px solid #24305E;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;

}

.data-form {
  display: flex;
  justify-content: end;
  padding-right: 20px;
  .form-group {
    display: flex;
    align-items: center;
    width: 145px;
    justify-content: space-around;
    label {
      margin: 0;
    }
  }
}


.search_starts_at input {
  height: 30px;
  width: 30px;
  background-size: cover;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQp87-LdVflLtAorQ9-Wf1yF624YAJiupUkLL0WM7r0wDyZQgyZ");

}
