.background {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}



// body {
//   margin: 0;
//   padding: 0;
// }
// .large-header {
//   position: relative;
//   width: 100%;
//   background: #333;
//   overflow: hidden;
//   background-size: cover;
//   background-position: center center;
//   z-index: 1;
// }

.arrow i{
  color: #0C183A;
  position: absolute;
  z-index: -1;
  top: 40%;
  left: 50%;
}


.banner{
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  //background-image:  url("https://images.pexels.com/photos/147408/pexels-photo-147408.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;

  h1 {
    color: #0C183A;
    font-weight: bold;
    font-size: 70px;

  }
  p {
    color: #0C183A;
    font-size: 28px;
    opacity: 0.8;
    font-weight: lighter;
    margin-bottom: 30px;
  }

  .banner-content {
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: -200px;
    z-index: 123456789;
  }

  .home-buttons {
    a {
      color: white;

    }
  }

  .bnt-home {
    padding: 15px 50px;
    color: #white;
    //border: 1px solid white;
    border-radius: 50px;
    font-weight: lighter;
    // opacity: 0.6;
    margin: 20px;
    background: #e36370;
    // background: white;
    // opacity: 0.5;

  }
}

 .home-buttons .bnt bnt-home .bnt-one {
  border-color: white;
}

.row {
  margin: 60px;
p {
  color:#0C183A;
text-align: center;
}
  }


.col-6 h1 {
  color: #0C183A;
  text-align: center;
  font-size: 30px;
  margin-bottom:10%;
  // margin: auto;
}

.col-6 {
 margin: auto;
}

.col-6 p {
  font-size: 18px;
}

.frame{
  display: flex;
  justify-content: center;

  img {
    width: 61%;
  }
}

// .container-animation {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   //min-height: 100vh;

//   //min-width: 100vw;
//   position: absolute;
//   top:487px;
//   left: 42%;
// }

// .loader {
//   max-width: 15rem;
//   width: 100%;
//   height: auto;
//   stroke-linecap: round;
// }

// circle {
//   fill: none;
//   stroke-width: 3.5;
//   animation-name: preloader;
//   animation-duration: 3s;
//   animation-iteration-count: infinite;
//   animation-timing-function: ease-in-out;
//   transform-origin: 170px 170px;
//   will-change: transform;

//   &:nth-of-type(1) {
//     stroke-dasharray: 550px;
//   }

//   &:nth-of-type(2) {
//     stroke-dasharray: 500px;
//   }

//   &:nth-of-type(3) {
//     stroke-dasharray: 450px;
//   }

//   &:nth-of-type(4) {
//     stroke-dasharray: 300px;
//   }

//   @for $i from 1 through 4 {
//     &:nth-of-type(#{$i}) {
//       animation-delay: -#{$i * 0.15}s;
//     }
//   }
// }

// @keyframes preloader {
//   50% {
//     transform: rotate(360deg);
//   }
// }





// Specific CSS for your home-page
//.banner {
//background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://images.unsplash.com/photo-1504868584819-f8e8b4b6d7e3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1655&q=80');
// background-size: cover;
//  background-position: center center;
  // position: relative;
  // top: 0;
  // bottom: 0;
// height: 100vh;
//  padding: 150px 0;
//  width: 100%;

//}

// .banner h1 {
//  margin: 20px;
// color: #0C183A;
// text-shadow: 1px 1px 3px;
//  font-size: 32px;
//  font-weight: bold;
//   margin-top: 10px;
// }



// .container-banner {
//  padding: 30px;
//  border-radius: 4px;
//  width: 300px;
// }




