<div class="container banner-suggestions">

    <div class="swiper-container"> <!-- FOR VIDEOS-->
      <div class="swiper-wrapper">
        <% @video_suggestions.each do |suggestion| %>
        <div class="swiper-slide"><%= suggestion.video.title %></div>
        <% end %>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
    <div class="swiper-container"> <!-- FOR CHANNEL-->
      <div class="swiper-wrapper">
        <% @channel_suggestions.each do |suggestion| %>
        <div class="swiper-slide"><%= suggestion.creator.title %></div>
       <% end %>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
