  <ul class="">
    <li style="display: flex;" class="top3-bar">
      <div class="bar-item">
      <img src="https://i.scdn.co/image/c90f858b55bd875238a866f5e57676c46a106007" class="bar-item" style="width:100px; display: block; border-radius: 16px; margin-top: 40px;">


      </div>
<div style="width: 510px; background-color: gainsboro; height: 40px; border-radius: 10px; margin-top: 70px;">
     <div style="margin: 5px; width: 500px;">
        <div style="background-color: <%= @color_function  %>; width: <%= @bar_function %>%; height: 30px; border-radius: 10px;">
            <h6 style="color: black; font-weight: bold; margin:5px;">
            <%= @bar_function %>%
          </h6>
        </div>
      </div>
    </div>
    </li>

  <!----------------------------------------------------------------------------------------------------------
  ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

      <li style="display: flex;" class="top3-bar">
      <div class="bar-item">
         <img src="https://i.scdn.co/image/c90f858b55bd875238a866f5e57676c46a106007" class="bar-item" style="width:100px; display: block; border-radius: 16px;">

      </div>
<div style="width: 510px; background-color: gainsboro; height: 40px; border-radius: 10px; margin-top: 40px;">
  <div style="margin: 5px; width: 500px;">
    <div style="background-color: red; width: 25%; height: 30px; border-radius: 10px;">
            <h6 style="color: black; font-weight: bold; margin:5px;">
            25%
          </h6>
        </div>
      </div>
      </div>
    </li>
<!-------------------------------------------------------------------------------------------------------->

    <li style="display: flex;" class="top3-bar">
      <div class="bar-item">
         <img src="https://i.scdn.co/image/c90f858b55bd875238a866f5e57676c46a106007" class="bar-item" style="width:100px; display: block; border-radius: 16px; margin-top: 40px">


      </div>
<div style="width: 510px; background-color: gainsboro; margin-top: 10px; height: 40px; border-radius: 10px; margin-top: 40px; margin-top: 40px">
  <div style="margin: 5px; width: 500px;">
    <div style="background-color: red; width: 15%; height: 30px; border-radius: 10px;">
            <h6 style="color: black; font-weight: bold; margin:5px;">
            15%
          </h6>
        </div>
      </div>
      </div>
    </li>
  </ul>





