  <ul class="card-4">
    <li style="display: flex;" class="top3-bar">
      <div class="bar-item">
         <img src="https://i.scdn.co/image/c90f858b55bd875238a866f5e57676c46a106007" class="bar-item" style="width:100px; display: block;">
        <h4 class="large">Link Up Tv</h4><br>
        <p style="color:gray;">-music</p>
      </div>
      <div style="width: 600px; height: 40px; background-color: gainsboro; border-radius: 10px;">
        <div style="background-color: <%= @color_function  %>; width: <%= @bar_function %>%; height: 30px; border-radius: 10px;">
            <h6 style="color: black; font-weight: bold; margin:5px;">
            <%= @bar_function %>%
          </h6>
        </div>
      </div>
    </li>

      <li style="display: flex;" class="top3-bar">
      <div class="bar-item">
         <img src="https://i.scdn.co/image/c90f858b55bd875238a866f5e57676c46a106007" class="bar-item" style="width:100px; display: block;">
        <h4 class="large">Link Up Tv</h4><br>
        <p style="color:gray;">-music</p>
      </div>
      <div style="width: 600px; height: 40px; background-color: gainsboro; border-radius: 10px;">
        <div style="background-color: red; width: 25%; height: 30px; border-radius: 10px;">
            <h6 style="color: black; font-weight: bold; margin:5px;">
            25%
          </h6>
        </div>
      </div>
    </li>

    <li style="display: flex;" class="top3-bar">
      <div class="bar-item">
         <img src="https://i.scdn.co/image/c90f858b55bd875238a866f5e57676c46a106007" class="bar-item" style="width:100px; display: block;">
        <h4 class="large">Link Up Tv</h4><br>
        <p style="color:gray;">-music</p>
      </div>
      <div style="width: 600px; height: 40px; background-color: gainsboro; border-radius: 10px;">
        <div style="background-color: red; width: 15%; height: 30px; border-radius: 10px;">
            <h6 style="color: black; font-weight: bold; margin:5px;">
            15%
          </h6>
        </div>
      </div>
    </li>
  </ul>





