<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">



  <ul class="w3-ul w3-card-4">
    <li class="top3-bar">
      <img src="https://www.rollingstone.com/wp-content/uploads/2018/12/GettyImages-1062194596.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:100px">
      <div class="w3-bar-item">
        <span class="w3-large">Kevin Hart</span><br>
        <span>comdey</span>
      </div>
    </li>

    <li class="top3-bar">
      <img src="https://images-na.ssl-images-amazon.com/images/I/71J1RIb3OAL._SX425_.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:100px">
      <div class="w3-bar-item">
        <span class="w3-large">Fights</span><br>
        <span>anime</span>
      </div>
    </li>

    <li class="top3-bar">
      <img src="https://i.scdn.co/image/c90f858b55bd875238a866f5e57676c46a106007" class="w3-bar-item w3-circle w3-hide-small" style="width:100px">
      <div class="w3-bar-item">
        <span class="w3-large">LinkUpTv</span><br>
        <span>music</span>
      </div>
    </li>
  </ul>



