<div class="flex-wrapper">
  <div>
    <div class="container-add">
      <h1> Add as many Youtube Accounts as you please!</h1>
      <p>We will do all the hard work for you by delivering fresh stats everyday!</p>
    </div>
    <div class="card-wrapper">
      <div class="card" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title">Add your additional accounts</h5>
          <div class="main-container">
          <div>
            <%= simple_form_for [@youtube_account] do |f| %>
            <%= f.input  :name, label: "Name This account", class: "card-inputs" %>
            <%= f.hidden_field  :refresh_token, input_html: {value: @refresh_token} %>
            <%= f.button :submit, value: "Add Account", class: "btn btn-primary" %>
          <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
