 <%= render 'shared/navbar'%>


 <div class= "container-structure">
   <h1>Hello #User welcome to your dashboard</h1>
 </div>

 <div class= "container-structure">
  <div class= "cards-chart">
    <h1>Pie chart</h1>
  </div>
</div>



