<h1>welcome to the data page</h1>
<<<<<<< HEAD
<h2><%= link_to "return Home", dashboard_path %></h2>
=======

<%= pie_chart Video.group(:title).count %>

<%= line_chart User.group_by_time(:created_at).count %>

>>>>>>> a8ad0045ed12e4ea780e772f124808bb4e9b1c53
