<div class="banner-particles" style="height: 100vh; position: absolute; width: 100vw;">
  <canvas class="background background-2" style="position: absolute; top: 0; left: 0;"></canvas>
</div>

<% colors = ["#D72638","#E89E2C","#EFECED", "#7394cb", "#e1974d", "#84ba5c", "#d35d60", "#8f66a7", "#ad6a58","#cbc374"] %>


<div class="wrapper dashboard-frame dashboard-frame-margin row">

  <div class="col-md-4">
    <p class="data-page-header">
      <span>Your <br> Statistics</span>
    </p>
  </div>

  <div class="col-md-8">
    <div class="cards-chart">
      <%= render 'shared/top3' %>
    </div>
  </div>

<div class="col-md-6 middle-charts">
  <div class="cards-chart">
 <div class="chart-label">Pie Chart</div>
 <%= pie_chart Video.group(:title).count, colors: colors, messages: {empty: "No data"} %>
 </div>
</div>

<div class="col-md-6 middle-charts">
  <div class="cards-chart">
   <div class="chart-label">Line Chart</div>
   <%= line_chart Video.group(:title).count, colors: colors, messages: {empty: "No data"} %>
  </div>
</div>

<div class="col-md-12">
  <div class="cards-chart">
   <div class="chart-label">Sankey</div>
   <%= render 'shared/sankey' %>
  </div>
</div>

</div>


