<div class="banner-particles" style="height: 100vh; position: absolute; width: 100vw;">
  <canvas class="background background-2" style="position: absolute; top: 0; left: 0;"></canvas>
</div>

<% colors = ["#3AB795", "#191923","#D72638","#E89E2C","#EFECED", "#FEB801"] %>


<div class="wrapper dashboard-frame dashboard-frame-margin row">

  <div class="col-md-4">
    <p class="data-page-header">
      <span>Your <br> Statistics</span>
    </p>
  </div>

  <div class="col-md-8">
    <div class="cards-chart">
      <%= render 'shared/top3' %>
    </div>
  </div>

<div class="col-md-6 middle-charts">
  <div class="cards-chart">
 <h1>Pie Chart</h1>
 <%= pie_chart Video.group(:title).count, colors: colors, messages: {empty: "No data"} %>
 </div>
</div>

<div class="col-md-6 middle-charts">
  <div class="cards-chart">
   <h1>Line Chart</h1>
   <%= line_chart Video.group(:title).count, colors: colors, messages: {empty: "No data"} %>
  </div>
</div>

<div class="col-md-12">
  <div class="cards-chart">
   <h1>Sankey</h1>
   <%= render 'shared/sankey' %>
  </div>
</div>

</div>


