
<div class="banner-particles" style="height: 100%; position: absolute; width: 100vw;">
  <canvas class="background background-2" style="position: absolute; top: 0; left: 0;"></canvas>

</div>

<% colors = ["#6FCAB1","#E1616E","#F0C178", "#3C4661", "#EFECED", "#84ba5c", "#3C4661",]%>


<div class="wrapper dashboard-frame row pt-5 data-frame">


    <!-- <p class="data-page-header">
      <span>Your <br> Statistics</span>
    </p>
  </div> -->

<!-- <p class="title-stats text-center"> -->
    <h1 class="col-md-12 title-stats">Your Statistics</h1>
<!-- </p> -->



  <div class="col-md-12 data-card">
    <div class="cards-chart">
      <p class="title-stats-span text-center"><span>Line Chart</span></p>
   <%= line_chart Video.group(:length).count, colors: colors, messages: {empty: "No data"}, width: "100%" %>

    </div>
  </div>


<div class="col-md-6 middle-charts data-card">
  <div class="cards-chart">
 <p class="title-stats-span text-center"><span>Pie Chart</span></p>

 <%= pie_chart Video.group(:length).count.first(5), colors: colors, messages: {empty: "No data"} %>
 </div>
</div>

<div class="col-md-6 middle-charts data-card">
  <div class="cards-chart">
   <p class="title-stats-span text-center"><span>Your Top 3</span></p>
   <%= render 'shared/top3'%>

  </div>
</div>

<div class="col-md-12 data-card">
  <div class="cards-chart">
   <div class="chart-label">Sankey</div>
   <%= render 'shared/sankey' %>
  </div>
</div>

</div>


