
<div class="banner-particles" style="height: 100%; position: absolute; width: 100vw;">
  <canvas class="background background-2" style="position: absolute; top: 0; left: 0;z-index: -1;"></canvas>

</div>

<% colors = ["#6FCAB1","#E1616E","#F0C178", "#3C4661", "#EFECED", "#84ba5c", "#3C4661",]%>


<div class="wrapper dashboard-frame row pt-5 data-frame">

    <h1 class="col-md-12 title-stats">Your Statistics</h1>

    <div class="col-md-5 data-card">
      <div class="charts-set">
        <div class="cards-chart">
          <p class="title-stats-span text-center"><span>Line Chart</span></p>
          <%= line_chart @first_five.map {|watch|
            {name: watch.creator.title, data: watch.watched_videos.group_by_day(:datetime_watched).count}
          }%>
        </div>
        <div class="cards-chart">
          <p class="title-stats-span text-center"><span>Most watched <strong>in minutes</strong></span></p>
          <% test = [] %>
          <% @first_five.each {|watch| test << [watch.creator.title, Watch.readable_watch_time(watch.total_watch_time)]} %>
          <%= pie_chart test, colors: colors, messages: {empty: "No data"} %>
        </div>
      </div>
    </div>

    <div class="col-md-7 middle-charts data-card">
      <div class="cards-chart data-top3">
       <p class="title-stats-span text-center"><span>Your Top 5</span></p>
       <%= render 'shared/top3'%>
     </div>
   </div>

   <div class="col-md-12 data-card">
    <div class="cards-chart">
     <div class="chart-label"><span>Time spent divided <strong>by category</strong></span></div>
     <%= render 'shared/sankey' %>
   </div>
 </div>

</div>


