
<div class="banner">

  <div class="container">
    <div class="col-4">
      <h1>Tube Stats</h1>
      <p> Text sloagen for our page</p>
      <a class="btn normal" href="#">Sign up</a>
    </div>
  </div>
</div>


<div class="container">

<h1>text</h1>
<h1>picture</h1>


</div>
