<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="backgroundpic" style="background-image: url(https://images.unsplash.com/photo-1507325670434-aa8da9a9626c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=913&q=80)">

</div>
