// .navbar-lewagon {
//  position: absolute;
//  width: 100%;
//  background: transparent;
//  box-shadow: none;
// }

.nav-link  {
  color: white !important;
  font-size: 20px;
  letter-spacing: 0.05em;
  font-weight: 500;
}


.navbar .navbar-expand-sm .navbar-light .navbar-lewagon {
top: 25px;
}

.fas.fa-home {
 color: white;
 font-size: 20px;
 font-size: 36px;
 margin-right: 10px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  z-index: 99999999;
}

.nav-item .active {
  color: white;
}


// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

// .dynamic-logo {
//   width: 100%;
//   .loader-navbar {
//     max-width: 3rem;
//     width: 100%;
//     height: auto;
//     stroke-linecap: round;
//   }
//}
