.navbar-lewagon {
 position: absolute;
 width: 100%;
 background: transparent;
 box-shadow: none;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-item active {
  color: #191923;
}

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

// .dynamic-logo {
//   width: 100%;
//   .loader-navbar {
//     max-width: 3rem;
//     width: 100%;
//     height: auto;
//     stroke-linecap: round;
//   }
//}
