<%= render "shared/sliders" %>

<div class="banner-dashboard" style="height: 100vh; position: absolute; width: 100vw;">
  <canvas class="background background-2" style="position: absolute; top: 0; left: 0;"></canvas>
</div>
