

<div class="banner-dashboard" style="height: 100%; position: absolute; width: 100vw;">
 <canvas class="background background-2" style="position: absolute; top: 0; left: 0; z-index: -1;"></canvas>
</div>
<h1>Suggestions#index</h1>


<%= render 'shared/sliders' %>


