
<div class="banner-dashboard" style="height: 700px; position: absolute; width: 100vw;">
  <canvas class="background background-2" style="position: absolute; top: -400px; left: 0; z-index: -1;"></canvas>

<h1>Suggestions#index</h1>


<%= render 'shared/sliders' %>


